@model IEnumerable<AutoRent.Models.Payment>

@{
    ViewBag.Title = "Closed rents list";
}

<h2>Closed rents list</h2>

<p>
    @Html.ActionLink("Show active rents", "Index", "RentDeals")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rent.customer.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rent.car.brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rent.car.rentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rent.dateOfService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rent.dateOfReturn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Penalty.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Rent.customer.fullName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Rent.car.brand)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Rent.car.rentPrice)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Rent.dateOfService)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Penalty.amount)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.amount)
        </td>
    </tr>
}

</table>
