
@model AutoRent.ViewModels.CustomerData

@{
    ViewBag.Title = "Customers list";
}

<h2>Сustomers list</h2>

<p>
    @Html.ActionLink("Add new customer", "CreateCustomer")
</p>
<table class="table">
    <tr>
        <th>
            Full name
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Middle Name
        </th>
        <th>
            Passport Details
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Percentage of Discount
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.customers) {
    string selectedRow = "";
    if (item.ID == ViewBag.selectedCustomerID)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.middleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passportDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discountPercentage)
        </td>
        <td>
            @Html.ActionLink("Add Query", "AddQuery", new { id = item.ID }) |
            @Html.ActionLink("Select", "Index", new { id = item.ID})
        </td>
    </tr>
}

</table>
@if (Model.queries != null)
{
    <h3>Selected Customer Active Queries</h3>
    <table class="table">
        <tr>
            <th>Rent Start Date</th>
            <th>Days To Rent</th>
            <th>Favourite Brand</th>
            <th>Max Rent Price Per Day</th>
            <th></th>
        </tr>

        @foreach (var item in Model.queries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(query => item.rentStartDate)
                </td>
                <td>
                    @Html.DisplayFor(query => item.rentDays)
                </td>
                <td>
                    @Html.DisplayFor(query => item.favouriteBrand)
                </td>
                <td>
                    @Html.DisplayFor(query => item.maxRentPricePerDay)
                </td>
                <td>
                    @Html.ActionLink("Enroll Deal", "SelectCarToRent",
                    new { queryId = item.ID })
                </td>
            </tr>
        }

    </table>
}

