

@model IEnumerable<AutoRent.Models.Car>


@{
    ViewBag.Title = "Index";
}

<h2>Cars list</h2>

<p>
    @Html.ActionLink("Add new car", "Create")
</p>

<p>
    @Html.ActionLink("List all cars", "Index") |
    @Html.ActionLink("List available", "Index", new { filter = "Available" }) |
    @Html.ActionLink("List taken", "Index", new { filter = "Taken" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isTaken)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rentPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isTaken)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
