@model AutoRent.Models.RentDeal

@{
    ViewBag.Title = "Create";
}

<h2>Enrolling New Rent Deal</h2>

<hr />
<dl class="dl-horizontal">
    <dt>
        Selected Car Brand
    </dt>

    <dd>
        @Html.DisplayFor(model => model.car.brand)
    </dd>

    <dt>
        Customer Full Name
    </dt>

    <dd>
        @Html.DisplayFor(model => model.customer.fullName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.car.rentPrice)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.car.rentPrice)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.dateOfService)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.dateOfService)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.dateOfReturn)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.dateOfReturn)
    </dd>
</dl>

<div>
    @Html.ActionLink("Proceed", "AddDeal")
    @Html.ActionLink("Back to Customers List", "Index", "Customers")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
