@model AutoRent.Models.RentDeal

@{
    ViewBag.Title = "Entrolling rent deal";
}

<h2>Enrolling New Rent Deal</h2>

<hr />
<dl class="dl-horizontal">
    <dt>
        Selected Car Brand
    </dt>

    <dd>
        @ViewBag.Brand
    </dd>

    <dt>
        Customer Full Name
    </dt>

    <dd>
        @ViewBag.FullName
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.car.rentPrice)
    </dt>

    <dd>
        @ViewBag.RentPrice
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.dateOfService)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.dateOfService)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.dateOfReturn)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.dateOfReturn)
    </dd>
</dl>

<div>
    @Html.ActionLink("Enroll Deal", "AddDeal") |
    @Html.ActionLink("Cancel", "Index", "Customers")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
