@model AutoRent.Models.RentDeal

@{
    ViewBag.Title = "Create";
}

<h2>Enrolling new Rent Deal</h2>



        
<h4>RentDeal</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.car.brand)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.car.brand)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.customer.firstName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.customer.firstName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.customerFavour.favouriteBrand)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.customerFavour.favouriteBrand)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.dateOfService)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.dateOfService)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.dateOfReturn)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.dateOfReturn)
    </dd>

</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Create" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
