@model IEnumerable<AutoRent.Models.RentDeal>

@{
    ViewBag.Title = "Index";
}

<h2>Rent Deals List</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customer.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car.brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car.rentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfReturn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customer.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.car.brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.car.rentPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfReturn)
        </td>
        <td>
            @Html.ActionLink("Close Deal", "CloseDeal", new {id = item.ID})
        </td>
    </tr>
}

</table>
