@model AutoRent.Models.CustomerFavour

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomerFavour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rentStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rentStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.favouriteBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.favouriteBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maxRentPricePerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxRentPricePerDay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
