@model IEnumerable<AutoRent.Models.CustomerFavour>

@{
    ViewBag.Title = "Index";
}

<h2>Customer queries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customer.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rentStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.favouriteBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maxRentPricePerDay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customer.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rentStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.favouriteBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maxRentPricePerDay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
